n8n/website-form-to-crm.json
{
  "name": "Custom Showers - Website Form to CRM",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "customshowers-form",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://customshowers.uk"
        }
      },
      "id": "webhook-trigger",
      "name": "Website Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "customshowers-form"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "lead_name",
              "value": "={{ $json.body.name || $json.name }}"
            },
            {
              "name": "lead_email",
              "value": "={{ $json.body.email || $json.email }}"
            },
            {
              "name": "lead_phone",
              "value": "={{ $json.body.phone || $json.phone }}"
            },
            {
              "name": "service_type",
              "value": "={{ $json.body.service_type || $json.service_type }}"
            },
            {
              "name": "address",
              "value": "={{ $json.body.address || $json.address }}"
            },
            {
              "name": "city",
              "value": "={{ $json.body.city || $json.city }}"
            },
            {
              "name": "postcode",
              "value": "={{ $json.body.postcode || $json.postcode }}"
            },
            {
              "name": "project_notes",
              "value": "={{ $json.body.project_notes || $json.project_notes }}"
            },
            {
              "name": "install_required",
              "value": "={{ ($json.body.service_type || $json.service_type) === 'supply_install' ? 'Yes' : 'No' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-fields",
      "name": "Prepare Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qgfmsyxaccvwmmygtspf.supabase.co/rest/v1/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $credentials.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $json.lead_name }}\",\n  \"email\": \"{{ $json.lead_email }}\",\n  \"phone\": \"{{ $json.lead_phone }}\",\n  \"source\": \"Website\",\n  \"status\": \"new\",\n  \"notes\": \"Address: {{ $json.address }}{{ $json.city ? ', ' + $json.city : '' }}{{ $json.postcode ? ' ' + $json.postcode : '' }}\\n\\nProject: {{ $json.project_notes }}\"\n}",
        "options": {}
      },
      "id": "create-lead",
      "name": "Create Lead in CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-api-key",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qgfmsyxaccvwmmygtspf.supabase.co/rest/v1/deals",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $credentials.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"deal_name\": \"{{ $('Prepare Fields').item.json.lead_name }} - Website Enquiry\",\n  \"deal_owner\": \"Matt Hopkinson\",\n  \"stage\": \"new_enquiry\",\n  \"deal_type\": \"New Business\",\n  \"priority\": \"Low\",\n  \"lead_source\": \"Website\",\n  \"install_required\": \"{{ $('Prepare Fields').item.json.install_required }}\",\n  \"lead_id\": \"{{ $json[0].id }}\",\n  \"stage_changed_at\": \"{{ $now.toISO() }}\",\n  \"notes\": \"{{ $('Prepare Fields').item.json.project_notes }}\"\n}",
        "options": {}
      },
      "id": "create-deal",
      "name": "Create Deal in CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-api-key",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@customshowers.uk",
        "toEmail": "sales@customshowers.uk",
        "subject": "=New Website Enquiry: {{ $('Prepare Fields').item.json.lead_name }}",
        "emailFormat": "html",
        "message": "=<h2>New Quote Request from customshowers.uk</h2>\n<table style=\"border-collapse:collapse;width:100%;font-family:sans-serif\">\n  <tr><td style=\"padding:8px;font-weight:bold;background:#f1f5f9\">Name</td><td style=\"padding:8px\">{{ $('Prepare Fields').item.json.lead_name }}</td></tr>\n  <tr><td style=\"padding:8px;font-weight:bold;background:#f1f5f9\">Email</td><td style=\"padding:8px\"><a href=\"mailto:{{ $('Prepare Fields').item.json.lead_email }}\">{{ $('Prepare Fields').item.json.lead_email }}</a></td></tr>\n  <tr><td style=\"padding:8px;font-weight:bold;background:#f1f5f9\">Phone</td><td style=\"padding:8px\"><a href=\"tel:{{ $('Prepare Fields').item.json.lead_phone }}\">{{ $('Prepare Fields').item.json.lead_phone }}</a></td></tr>\n  <tr><td style=\"padding:8px;font-weight:bold;background:#f1f5f9\">Service Type</td><td style=\"padding:8px\">{{ $('Prepare Fields').item.json.service_type === 'supply_install' ? 'Supply + London Installation' : 'Supply Only' }}</td></tr>\n  <tr><td style=\"padding:8px;font-weight:bold;background:#f1f5f9\">Address</td><td style=\"padding:8px\">{{ $('Prepare Fields').item.json.address }}, {{ $('Prepare Fields').item.json.city }} {{ $('Prepare Fields').item.json.postcode }}</td></tr>\n  <tr><td style=\"padding:8px;font-weight:bold;background:#f1f5f9\">Project Details</td><td style=\"padding:8px\">{{ $('Prepare Fields').item.json.project_notes }}</td></tr>\n</table>\n<br>\n<p style=\"color:#6b7280;font-size:13px\">Lead and Deal have been automatically created in the CRM.</p>",
        "options": {}
      },
      "id": "send-email",
      "name": "Email sales@customshowers.uk",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Thank you, we'll be in touch shortly.\" }",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://customshowers.uk"
              }
            ]
          }
        }
      },
      "id": "respond-success",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 240]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"message\": \"Something went wrong, please try again.\" }",
        "options": {
          "responseCode": 500
        }
      },
      "id": "respond-error",
      "name": "Return Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 400]
    }
  ],
  "connections": {
    "Website Form Webhook": {
      "main": [
        [{ "node": "Prepare Fields", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Fields": {
      "main": [
        [{ "node": "Create Lead in CRM", "type": "main", "index": 0 }]
      ]
    },
    "Create Lead in CRM": {
      "main": [
        [{ "node": "Create Deal in CRM", "type": "main", "index": 0 }]
      ]
    },
    "Create Deal in CRM": {
      "main": [
        [{ "node": "Email sales@customshowers.uk", "type": "main", "index": 0 }]
      ]
    },
    "Email sales@customshowers.uk": {
      "main": [
        [{ "node": "Return Success", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "tags": ["crm", "website", "leads"],
  "pinData": {}
}
